<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>next run ho gaya!!!!</h2>
	<h3>Yaha pe table create hoga</h3>
	
	
<table style="width: 80%; border-collapse: collapse; margin: 20px auto; font-family: Arial, sans-serif;">
    <thead>
    	<!--  <tr style="background-color: #f2f2f2;">-->
        <tr style="background-color: pink;">
            <th style="border: 1px solid #ddd; padding: 10px;">Name</th>
            <th style="border: 1px solid #ddd; padding: 10px;">Student ID</th>
            <th style="border: 1px solid #ddd; padding: 10px;">Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${key}" style="text-align: center;">
            <td th:text="${student.name}" style="border: 1px solid #ddd; padding: 10px;"></td>
            <td th:text="${student.studId}" style="border: 1px solid #ddd; padding: 10px;"></td>
            <td th:text="${student.marks}" style="border: 1px solid #ddd; padding: 10px;"></td>
        </tr>
    </tbody>
</table>

</body>
</html>